.order-success,
.order-error {
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.order-success .success-lottie,
.order-error .error-lottie {
    height: 200px;
    margin: 80px 0 56px;
}

.order-success a {
    color: var(--secondary-color);
}

.order-error a {
    color: red;
}